	@charset "utf-8";
/* CSS Document */
/* ========== Do Not Touch In Css Strat ========== */
@import url('https://fonts.googleapis.com/css?family=Ubuntu:400,500,700');
/* ========== Commn Css Strat ========== */
body{font-size:14px; font-family:"ubuntu"; font-weight:400; color:#3E3E3E;}
p {margin:0px; padding:0px 0px 18px 0px; line-height:20px;}
.floatleft {float:left;}
.floatright {float:right;}
.clear {clear:both;}
.bold {font-weight:bold;}
a {text-decoration:none; color:#324268; outline:none;}
a:active, a:focus{ outline:none; text-decoration:none!important;}
a:hover, a.selected {text-decoration:none; color:#333333;}
ul {list-style:none;}
li {list-style:none;}
.nonebox_shadow{box-shadow:0 0px 0px rgba(0, 0, 0, 0.05)!important;}
.clear{clear:both;}
h1{font-size:26px; font-family:"ubuntu";  color:#fff;}
h2{font-size:22px; font-family:"ubuntu"; color:#fff;}
h5{font-size:18px; font-weight:400; font-family:"ubuntu";}
h6{font-size:16px; font-weight:500; font-family:"ubuntu";}
.nonebox_shadow{box-shadow:0 0px 0px rgba(0, 0, 0, 0.05)!important;}

/* ========== Commn Css End ========== */
/* ========== Do Not Touch In Css End ========== */
/* ========== Style Css Strat ========== */
/* ------- Header Area Strat ------- */


.header_top{background:#EBEBEB; border-bottom:1px solid #CFCFCF; min-height:24px; position:relative; max-width:1360px; margin:0 auto;}
.header_top .container{ position: relative;  z-index: 1;}
.header_contact{background:url(../images/header_topbg.png) no-repeat;height:38px; position:absolute; top: 0px; width: 512px; right: 0; z-index: 2; padding:9px 11px 0px 34px; font-weight:600;}
.header_contact ul li{display:inline-block; padding-right:14px; color: #21527E;}
.header_contact ul li a{color: #21527E;}
.header_contact ul li a:hover{color:#FF4143;}
.header_contact ul li i{padding-right:9px;}
.header_contact ul li:last-child{padding-left:18px; padding-right: 0px;}
.header_contact ul li.header_sociallink a{ display:inline-block;}
.header_contact ul li.header_sociallink i{padding-right:12px; color:#fff;}
.header_bottom{padding:16px 0px;}
.header_logo img{max-width:100%; margin:0 auto;}

/* ------- Header Area End ------- */

/* ------- Navigation Area Strat ------- */
.navigation{ background:#fff;}
.navbar-nav{ float:none!important;}
.navbar{ margin-bottom:0px!important; min-height:4px!important;}
.navbar-inverse{ background:none!important; border:none!important;
-webkit-border-radius: 0px!important;
-moz-border-radius: 0px!important;
border-radius: 0px!important;}
.navbar-inverse .navbar-nav > li > a{ color:#4D6C7A; padding:30Px 29px 24px 0px;}
.navbar-inverse .navbar-nav > .active > a, .navbar-inverse .navbar-nav > .active > a:hover, .navbar-inverse .navbar-nav > .active > a:focus{ background-color:transparent!important; color:#FF4143!important;}
.navbar-inverse .navbar-nav > li:hover > a{ color:#FF4143!important;}
.navbar-default{background:none;border:#fff;}


.nav > li{ font-family: 'Raleway', sans-serif; font-weight:700; font-size:12px; line-height:11px; color:#080808; text-transform:uppercase;}
.navbar-inverse .navbar-nav > li:first-child >  a{ padding-left:0px;}
.navbar-inverse .navbar-nav > li:last-child >  a{ padding-right:0px;}

.navbar-inverse .navbar-nav > li:hover, .navbar-inverse .navbar-nav > li:focus, .navbar-inverse .navbar-nav > .active, .navbar-inverse .navbar-nav > .active:hover, .navbar-inverse .navbar-nav > .active:focus{ background:none;}
.nav > li:last-child, .nav > li:last-child:hover{}
.navbar-nav > li > a{ display:block; padding:5px 10px;}
.navibgend{ background:#fff; height:55px; position:absolute; right:0px; bottom:20px; z-index:1; width:50%;}
.navigationbg{ position:relative; z-index:3}
.navbar-nav > li.dropdown a{ background:url(../images/arrow_navi.png) no-repeat center 90%;}
.navbar-nav > li.dropdown li a{ background:none;}

.navbar-nav > li > .dropdown-menu{ background:#5b5b5b!important;}
.navbar-nav > li > .dropdown-menu li ul{ background:#fa8539;}

.dropdown-menu li{ position:relative; text-transform:capitalize;}
.dropdown-menu li ul{ display:none; position:absolute; top:0px; right:-100px;}
.dropdown-menu li:hover ul{ display:block;}
.navbar-nav > li > .dropdown-menu li ul li a{ color:#fff; padding:10px 20px; display:block;}
/* ------- Navigation Area End ------- */

/* ------- Home Banner Area Strat ------- */
.bannerarea {padding-top:20px;}
/* ------- Home Banner Area End ------- */

/* ------- Inner Banner Area Strat ------- */
/* ------- Inner Banner Area End ------- */

/* ------- Pages Contener Area Strat ------- */
/* ..... Home Page Contener Area Strat ..... */
.hm_services{background:#094777;}
.hm_services_title{background:#073960; padding:30px 0px; margin-bottom:69px; text-align:center; }
.hm_service_detail h2{font-weight:700; color:#fff;}
.hm_services .container .row{padding-bottom:9px;}
.hm_service_detail {color:#fff; padding:20px 3px 0px 14px;}
.hm_services .hm_service_detail:hover {background:#07395F; cursor:pointer;}
.hm_service_detail p{line-height:20px;}
.hm_service_detail h2{padding-bottom:6px;}
.view_all a{background:#FF5C3B;font-size:19px; padding:5px 46px; color:#fff; display:inline-block;}
.view_all a:hover{background:#0D75C6; color: #fff;}
.view_all {padding:31px 0px 62px 0px;text-align: center;}
.hm_news_industry_news{padding: 81px 0px;}
.hm_industries h5{color:#707070; padding-bottom:21px;}
.hm_industries p{font-size:13px; padding-bottom:16px; font-weight:300; color:#5F5F5F;}
.hm_industries a{background:#E5E5E5; border-bottom:1px solid #0A4776; padding:12px 24px;}
.view_all a{display:inline-block; color:#0A4777;}
.view_all a:hover {background:#0A4777; color:#fff; border:#0A4777;}
.hm_carasoule .owl-carousel .owl-controls .owl-nav {position:absolute; top:0; left:-10%; margin:0 auto;}
.hm_industrie_image img{max-width:100%;}
.hm_industrie_text span{font-size:16px; color:#5B5B5B; padding-right:25px;  padding:17px 15px;display:inline-block;}
.hm_industrie_text i{padding: 17px 16px 17px 21px; font-size:20px; display:inline-block; float:right; border-left: 1px solid #E5E5E5;}
.hm_carasoule .owl-carousel .owl-controls .owl-nav {position:absolute; top:0; left:-10%; margin:0 auto;}
.hm_news_video{border: 2px solid #EDEDEF; max-width: 543px;}
.video_title{padding: 10px 10px 10px 13px;}
.hm_news_video h5{color:#5C6568; }
.video_box img{max-width: 100%;}
.hm_news{padding-bottom: 71px}
.video_content h6{font-size:14px; color:#1E579B; font-weight: 700; padding-bottom:8px;}
.video_content span{font-size: 12px; font-weight: 400; color:#858687; padding-bottom:9px; display:inline-block;}
.video_content p{color:#3E3E3E;}  
.video_content{padding: 15px 9px 0px; }
.resp-tabs-container table tr td h6{font-size:14px; color:#024A90; font-weight:700; padding-bottom: 16px;}
.resp-tabs-container table tr td span{display:inline-block; color:#858687; font-size:12px; }
.resp-tabs-container table tr td  strong{font-size:12px; color:#024A90;}
.resp-tabs-container table tr td:first-child {padding-right:13px;}
.resp-tabs-container table tr {border-bottom: 1px solid #EFEFF0; padding:19px 0px 9px;} 

/* ..... Home Page Contener Area End ..... */

/* ..... Inner Page Contener Area Strat ..... */
.owl-carousel .owl-item .boxarea1{ margin:0px 5px; border:#ddd solid 1px;}
/* ----------- Images Gallery Css Strat ----------- */
.addodintbox{ border-right:#000 solid 1px; position:relative; float:left; width:100%; max-width:300px;}
.addodintbox div{ position:relative; z-index:1;}
.addodintbox span{ position:absolute; width:100%; height:100%; left:0px; right:0px; top:0px; bottom:0px; text-align:center; background:url(../images/bg_black_tranfer.png) repeat left top; z-index:2;visibility:hidden; opacity: 0; 
-webkit-transform: translateY(0px); -moz-transform: translateY(0px); -ms-transform: translateY(0px); -o-transform: translateY(0px); transform: translateY(0px);
-webkit-transition: all .25s ease-out;
-moz-transition: all .25s ease-out;
-ms-transition: all .25s ease-out;
-o-transition: all .25s ease-out;
transition: all .25s ease-out;}
.addodintbox:hover span{visibility:visible; opacity: 1; 
-webkit-transform: translateY(0px); -moz-transform: translateY(0px); -ms-transform: translateY(0px); -o-transform: translateY(0px); transform: translateY(0px);
-webkit-transition: all .25s ease-out;
-moz-transition: all .25s ease-out;
-ms-transition: all .25s ease-out;
-o-transition: all .25s ease-out;
transition: all .25s ease-out;}
.addodintbox span i{ display:block; background:url(../images/icon_zoom.png) no-repeat center center; position:absolute; height:100%; width:100%;}
.addodintbox div img{ width:100%; max-width:332px;}
.lastbrdnone{ border-right:none!important;}
/* ----------- Images Gallery Css End ----------- */
/* ----------- Bootstrap Carousel Css Strat ----------- */
.carousel{ max-width:780px;}
.carousel-control{opacity:1; max-width:50px;}
.carousel-control .icon-prev, .carousel-control .icon-next, .carousel-control .leftarrow, .carousel-control .rightarrow {
position: absolute; top: 25%; z-index: 5; display: inline-block; font-size:50px; color:#000;}
.carousel-control .leftarrow, .carousel-control .leftarrow {left: 15px;}
.carousel-control .rightarrow, .carousel-control .rightarrow { right: 15px;}
.carousel-control.left, .carousel-control.right{ background:none!important;}
/* ----------- Bootstrap Carousel Css End ----------- */
/* ..... Inner Page Contener Area End ..... */
/* ------- Pages Contener Area End ------- */

/* ------- Footer Area Strat ------- */
.footer_top{background:#DCDCDC; padding-top:47px; padding-bottom:81px;}
.footer_logo{max-width:100%; padding-top:11px;}
.footer_logo img{max-width:100%;}
.footer_address h6{padding-bottom: 24px;}
.footer_address address{color:#0A4777}
.footer_address span{font-weight:bold; color:#0A4776;}
.footer_top h6{color:#073960;}
.footer_social h6{padding-bottom:29px;}
.footer_social ul li{display:inline-block;  text-align:center; padding-right:6px;}
.footer_social ul li a i:hover{background:#042946;}
.footer_social ul li a i{color:#fff; background:#073960; height:32px; width:32px;  border-radius:50%; padding-top: 7px; font-size: 18px;}  
.footer_nav ul {float:left; width: 50%;}
.footer_nav ul li {padding: 10px 0px; color:#0A4777;}
.footer_nav ul li a:hover,.footer_nav ul li.active {color:#042946;}
.footer_nav  h6{padding-bottom: 28px; }
.footer_bottom{background:#383838; padding:16px 0px; color:#DCDCDC; font-size:11px; font-family:"Open Sans"; font-weight:400;}
.footer_comp_logo{float:right;}



/* ------- Footer Area End ------- */
#toTop { width:100px; border:1px solid #fdc3c8; background:#ffd8db; text-align:center; padding:5px; position:fixed; /* this is the magic */ bottom:10px; /* together with this to put the div at the bottom*/ right:10px; cursor:pointer; display:none; color:#000; font-family:Arial, Helvetica, sans-serif; font-size:11px;}
/* ========== Style Css End ========== */

/* ==================== Bootstrap Css Strat ==================== */
@media screen and (min-width : 740px) and (max-width : 1980px) {
.navbar-nav > li:hover > .dropdown-menu {display: block;}
.navbar-inverse .navbar-brand{ display:none;}
.navbar-collapse{ padding-left:0px; padding-right:0px;}
.dropdown-menu > li{ border-bottom:#dddddd solid 0px;}
.dropdown-menu > li:last-child{ border-bottom:none;}
.dropdown-menu > li > a:hover,
.dropdown-menu > li > a:focus {
  color: #ffffff!important;
  text-decoration: none;
  background-color: #5b5b5b;
}
.dropdown-menu > .active > a,
.dropdown-menu > .active > a:hover,
.dropdown-menu > .active > a:focus {
  color: #ffffff!important;
  text-decoration: none;
  background-color: #5b5b5b;
  outline: 0;
}
}
@media only screen and (max-width:1280px) {
}
@media only screen and (max-width:1024px) {
	.owl-carousel .owl-item .owl-item{ float:none; width:95%;}
    .footer_social ul li{padding-right:10px;}
    
}
@media only screen and (max-width:1000px) {
.header_logo{padding-top:15px; text-align:center;}
.menu_pad{padding-right:0px; padding-left:0px;}
.footer_top{ padding:50px 0px 20px; }  
.footer_top .col-sm-12{ margin-bottom: 30px;}
.footer_top .col-sm-12:last-child{ margin-bottom: 0px;}
.footer_nav ul li a{width:100%;}
.footer_nav ul li {border-bottom: 1px dashed #042946; padding-top:10px;}    
.footer_nav , .footer_logo , .footer_social , .footer_address{ text-align: center;}
.footer_nav ul{ float: none; width: 100%;}
    .view_all {padding-bottom:28px; }
}
@media screen and (min-width : 980px) and (max-width : 1024px) {

}
@media screen and (min-width : 400px) and (max-width : 1024px) {
}
@media screen and (min-width : 768px) and (max-width : 990px) {

}
@media screen and (min-width : 700px) and (max-width : 800px) {

}
@media only screen and (max-width:900px) {
}
@media only screen and (max-width:800px) {

}
@media only screen and (max-width:768px) {
	
}
@media screen and (min-width : 700px) and (max-width : 800px) {
	
}
@media screen and (min-width : 600px) and (max-width : 640px) {
	
}
@media only screen and (max-width:760px) {
.owl-carousel .owl-item .owl-item{ width:100%;}
.navigation{ padding-top:0px;}
.navbar-inverse .navbar-brand{ color:#fff;}
.navbar-nav { float: none!important; margin-top:0px!important; margin-bottom:0px!important;}
.navbar-toggle{ background:#f06234!important; border:#e45527 solid 1px!important;}
.navbar-inverse{ background:#021b68 !important; -webkit-border-radius: 4px;
-moz-border-radius: 4px;
border-radius: 4px;}
.nav > li{-webkit-border-radius: 0px;
-moz-border-radius: 0px;
border-radius: 0px;}
.nav > li , .nav > li:last-child , .nav > li:first-child { margin-left:0px!important; background:none; font-size:14px;}
.nav > li a, .nav > li:last-child a, .nav > li:first-child a,.navbar-inverse .navbar-nav > li:first-child >  a, .navbar-inverse .navbar-nav > li:last-child >  a{ padding:12px 14px!important; display:block;}
    .footer_bottom{text-align:center;}
    .footer_componey {text-align: center; padding-top:10px;}    
.nav > li{ border-bottom:#364655 solid 1px;}
.nav > li:last-child{ border-bottom:#4b4a4a solid 0px;}
.navbar-inverse .navbar-nav > li > a{ color:#fff!important;}
.navbar-inverse .navbar-nav > li:hover a, .navbar-inverse .navbar-nav > li.active a{ background:#092782;}
.navbar-inverse .navbar-nav > li:hover a{ color:#fabb06 ;} 
.navbar-inverse .navbar-nav > .active > a, .navbar-inverse .navbar-nav > .active > a:hover, .navbar-inverse .navbar-nav > .active > a:focus{ color:#fabb06;}
.navbar-inverse .navbar-nav > .active > a, .navbar-inverse .navbar-nav > .active > a:hover, .navbar-inverse .navbar-nav > .active > a:focus{ background:#092782!important;}

.dropdown-menu li{ font-size:14px;}
.dropdown-menu li li{ font-size:12px;background:url(../images/line_divder.jpg) no-repeat 10px 16px;}
.navbar-nav > li > .dropdown-menu li ul li a{ padding:8px 20px;}
.navbar-nav > li.dropdown a{ background:none;}
.navbar-inverse .navbar-nav > li:hover li a, .navbar-inverse .navbar-nav > li.active li a{ background:none!important;}
.dropdown-menu li ul{ display:block; position:relative; right:0px;}
.dropdown-menu li ul{ background:none!important;}
.header_contact{background:none;position:relative; height:auto; width:100%;}
.header_contact ul li{display:block;padding-bottom:5px; text-align:center;}
.header_top{min-height:auto;}
.header_contact ul li.header_sociallink i{color:#21527E;}
.header_logo{padding-bottom:16px; text-align:center;}
.menu_pad{padding-right:0px; padding-left:0px;}
.header_bottom {padding-bottom:0px;}   
.footer_nav{text-align: center;}
.footer_social{text-align:center; }
.footer_bottom{text-align:center;}
.footer_comp_logo{float:none; padding-top:5px;}   
}
@media only screen and (max-width:640px) {

}
@media (max-width: 480px) {

}
@media (max-width: 470px) {
	
}
@media (max-width: 450px) {
	
}
@media (max-width: 400px) {

}
@media (max-width: 360px) {

}
@media (max-width: 320px) {

}